body{
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
    grid-template-rows: 175px auto 175px;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    font-size: 100%;
}
main{
    margin: 50px 0px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
}
#tekst1{
    width: 420px;
    margin-right: 0px;
    top: calc((-1120px / 2) - (272px / 2));
}
#tekst2{
    float: right;
    width: 420px;
    top: calc((-1715px / 2) - (193px / 2));
    
}
.infoBox{
    position: relative;
    margin: 0px 0px 150px 0px;

}
#infoBox1{
    height: 1120px;
}
#infoBox2{
    height: 1715px;
}
.text{
    color: #1C1C1C;
    background-color: #ffffff;
    width: 420px;
    padding: 40px;
    right: 0px;
    position: relative;
    z-index: 10;
    line-height: 180%;
    display: block;
    /* top: calc((-650px / 2) - (272px / 2)); */
    /*this pushes the text div at the middle of the height of the foto
    Formula: (Height photo / 2) - (Height Div / 2)
    Height photo can also hold a formula to the view width which
    Because every photo is diffrent its in the divs
    */
}
.images{
    z-index: -10;
    position: relative;
    display: block;
}
#img1{
    opacity: 50%;
    width:  calc(80vw - 200px);
    margin-left: 200px;
}
#img2{
    opacity: 50%;
    width:  calc(80vw - 200px);
    margin-right: 200px;
}
h2{
    font-weight: 600;
    text-align: center;
    margin: 0px 0px 20px 0px;
    font-size: 2.375em;
}
h3{
    font-size: 1.5em;
    font-weight: 500;
    margin: 0px;
}
div p{
    font-weight: 500;
    font-size: 1.125em;
}
footer{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns:2fr 275px 1fr 175px 1fr 275px 2fr;
    background-color: #FFFFFF;
}
#download{
    margin: -50px auto 50px auto;
    text-align: center;
    display: inline-block;
    color: #FFFFFF;
    font-size: 2.375em;
    justify-self: center;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
}
