body{
    display: grid;
    grid-template-columns: 1fr 1220px 1fr;
    grid-template-rows: 175px 2900px 175px;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    font-size: 100%;
}
main{
    margin: 50px 0px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
#tekst1{
    margin-top: 210px;
    float: right;
    width: 420px;
}
#tekst2{
    margin: 746px auto 0px auto;
    width: 450px;
}
#tekst3{
    margin: 361px 130px 0px 0px;
    float: right;
    width: 560px;
    padding: 25px 45px 25px 45px;
}
#tekst4{
    margin: 844px auto 0px 0px;
    left: 643px;
    position: absolute;
    width: 400px;
}
#tekst5{
    margin: 1435px auto 0px 0px;
    left: 950px;
    position: absolute;
    width: 200px;
}
.text{
    color: #1C1C1C;
    background-color: #ffffff;
    padding: 40px;
    right: 0px;
    position: relative;
    z-index: 10;
    line-height: 180%;
}
.images{
    z-index: 0;
    position: absolute;
}
#img2{
    margin: 100px 0px 0px 130px;
    z-index: 0;
    position: absolute;
}
#img3{
    margin: 140px 80px 0px auto;
    z-index: 0;
    position: relative;
    float: right;
    z-index: 10;
}
#img4{
    margin: 1315px 80px 0px auto;
    z-index: 0;
    position: absolute;
    z-index: 10;
}
h2{
    font-weight: 600;
    text-align: center;
    margin: 0px 0px 20px 0px;
    font-size: 2.375em;
}
h3{
    font-size: 1.5em;
    font-weight: 500;
    margin: 0px;
}
div p{
    font-weight: 500;
    font-size: 1.125em;
}
footer{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns:2fr 275px 1fr 175px 1fr 275px 2fr;
    background-color: #FFFFFF;
}